$primary-color:#22afb9;
$white:#ffff;
$black:#3b3b3b;
$grey:#f5f5f5;


$primary-color-traparent:hsla(184, 89%, 64%, 0.76);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    overflow-x: hidden;
}


@font-face {
	font-family: caps;
	src:url(/public/Fonts/caps.woff2) format('woff2');
}
@font-face {
	font-family: normal;
	src:url(/public/Fonts/normal-bold.woff2) format('woff2');
}

@font-face {
    font-family: neue; 
    src: url(./assets/Fonts/neue.woff2) format("woff2");
}